<h1>Welcome <%= current_user.name %></h1>

<!-- Profile overview -->

<div class ="dashboard-profile">
  <% if @user.photo.present? %>
    <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>

  <p><%= @user.age %></p>
  <p><%= @user.profession %></p>

  <%= link_to "Go to profile", edit_user_path(current_user) %>
</div>


<!-- Messages overview -->

<div class="messages-overview">
  <h3>Your chats:</h3>
    <%= @chatrooms.each do |message| %>
      <ul>
        <li><%= @chatroom.name  %></li>
      </ul>
    <% end %>
</div>

<!-- Mentors/Mentees overview -->

<div class="dashboard-mentor-overview">
  <% if current_user.mentor %>
    <p><strong>Your mentees:</strong></p>
      <% @my_requests.each do |request| %>
        <ul>
          <% if request.status === "Accepted" %>
              <li><%= link_to "#{request.receiver.name}", user_path(request.receiver) %></li>
          <% end %>
        </ul>
      <% end %>
  <% else %>
    <p><strong>Your mentors:</strong></p>
      <ul> <% current_user.requests_as_asker.where(status: "Accepted").each do |request| %>
        <li><%= link_to "#{request.receiver.name}", user_path(request.receiver) %></li>
        <% end %>
      </ul>

  <% end %>
</div>

<!-- Requests overview -->

<div class="requests-overview">
  <% if current_user.mentor %>
    <p><strong>Your requests:</strong></p>
      <% @my_requests.each do |request| %>
      <ul>
        <% if request.status === "Pending" %>
        <div class="dashboard-user-card">
          <li><%= request.asker.name %></li>
          <%= link_to "Accept", accept_request_path(request) %> <%= link_to "Ignore", ignore_request_path(request) %>
        </div>
      <% end %>
      </ul>
    <% end %>
  <% else %>
    <p><strong>Your open requests:</strong></p>
      <ul> <% current_user.requests_as_asker.where(status: "Pending").each do |request| %>
        <div class="dasbord-user-card">
          <li><%= request.receiver.name %> | <%= request.status %></li>
        </div>
    <% end %>
  <% end %>
</div>



