<h1>Good evening, <%= current_user.name %>!</h1>

<!-- Profile overview -->

<div class="flexbox">
<div class="information-wrapper">
  <% if @user.photo.present? %>
    <%= cl_image_tag @user.photo.key, id: "dashboard-profile-photo"%>
  <% else %>
    <%= image_tag "businesswoman.png", id: "dashboard-profile-photo"%>
  <% end %>
  <div class="card-left">
  <div class="personal-information">
    <% if @user.mentor %>
      <p>Mentor</p>
    <% else %>
      <p>Mentee</p>
    <% end %>
    <h2><%= @user.name %></h2>
    <ul class="personal-list">
      <li><%= image_tag "shape-03.png" %><strong><%= @user.age %></strong> years old</li>
      <li><%= image_tag "shape-03.png" %>based in <strong><%= @user.city %></strong></li>
      <li><%= image_tag "shape-03.png" %>working in <strong><%= @user.profession %></strong></li>
    </ul>
  </div>
  </div>

<div class="card-right">
  <h3><%= image_tag "communication.png", class: "dashboard-icon"%> Your Messages</h3>
</div>

</div>
<!-- Messages overview -->

<div class="messages-overview">
  <h3>Your last messages:</h3>
    <% @my_messages.each do |message| %>
      <%= message.user.name %> : <%= message.content %> ( <%= message.created_at.strftime("%m/%d/%Y at %l:%M%p") %> )
      <% end %>
      <%#= link_to "Keep chatting", request_chatroom_path(request, request.chatroom), class: "btn btn-info" %>
</div>

<h3>Your notifications:</h3>

<!-- Mentors/Mentees overview -->

<div class="card-mentors">
  <% if current_user.mentor %>
    <h3><%= image_tag "growth.png", class: "dashboard-icon"%> Your Mentees</h3>
      <% @my_requests.each do |request| %>
        <ul>
          <% if request.status === "Accepted" %>
              <li><%= link_to "#{request.receiver.name}", user_path(request.receiver) %></li>
          <% end %>
        </ul>
      <% end %>
  <% else %>
    <h3><%= image_tag "growth.png", class: "dashboard-icon"%> Your Mentors</h3>
      <ul> <% current_user.requests_as_asker.where(status: "Accepted").each do |request| %>
        <li><%= link_to "#{request.receiver.name}", user_path(request.receiver) %></li>
        <% end %>
      </ul>
  <% end %>
</div>



<!-- Requests overview -->

<div class="card-mentors">
  <h3><%= image_tag "match.png", class: "dashboard-icon"%> Your Requests</h3>
    <% if current_user.mentor %>
      <% @my_requests.each do |request| %>
      <ul>
        <% if request.status === "Pending" %>
        <div class="dashboard-user-card">
          <li><%= request.asker.name %></li>
          <%= link_to "Accept", accept_request_path(request) %> <%= link_to "Ignore", ignore_request_path(request) %>
        </div>
      <% end %>
      </ul>
    <% end %>
  <% else %>
      <ul> <% current_user.requests_as_asker.where(status: "Pending").each do |request| %>
        <div class="dasbord-user-card">
          <li><%= request.receiver.name %> | <%= request.status %></li>
        </div>
    <% end %>
  <% end %>
</div>





