<% if current_user.mentor  %>
<h1>All mentees</h1>
<% else %>
<h1> Find your mentor</h1>
<% end %>

<div class="search-wrapper">
<%= form_tag users_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    id: "searchfield",
    placeholder: "Find a Mentor"
  %>
  <%= submit_tag "Search", class: "button-primary", id: "search-btn"%>
<% end %>
</div>


<div class="all-cards">
  <% @users.each do |user| %>
  <div class="card">
     <% if user.photo.present? %>
    <%= cl_image_tag user.photo.key, id: "profile-photo"%>
  <% else %>
    <%= image_tag "businesswoman.png", id: "profile-photo"%>
  <% end %>
    <div class="information">
      <p><strong><%= user.city %></strong></br></p>
      <h3><%= user.name %></h3>
      <p><strong><%= user.profession %></strong></br></p>
      <div class="interest-information">
        <% if user.user_interests.present? %>
        <% user.user_interests.each do |interest| %>
        <div id="name-interest">
            <%= interest.interest.name %></br>
        </div>
          <% end %>
        <% end %>
      </div>
    </div>
     <div class="read-more-button">
       <%= link_to "Read More", user_path(user), class: "button-primary" %>
   </div>
  </div>
  <% end %>
</div>
