<% professions = ["Brand & Public Relations",
                  "Consulting",
                  "Data Science & Analytics",
                  "Entrepreneurship",
                  "Finance, Accounting & Controlling",
                  "Freelancing",
                  "Human Ressources & Recruiting",
                  "Infrastructures & Security",
                  "Leadership & Management",
                  "Marketing & Growth",
                  "Product Management",
                  "Sales",
                  "Software Engineering",
                  "Strategy & Business Development",
                  "Sustainability",
                  "UX, Design & User Research",
                  "Web Development"] %>

<div class="search-wrapper">
<%= form_tag users_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    id: "searchfield",
    placeholder: "Find a Mentor"
  %>

  <ul class="filter-professions">
  <p><strong>Profession</strong></p>
  <% professions.each do |profession| %>
      <li>
        <%= check_box_tag 'professions[]', profession -%>
        <%= profession -%>
      </li>
  <% end %>
  </ul>
  <ul class="filter-interests">
  <p><strong>Interests</strong></p>
  <% @interests.each do |interest| %>
      <li>
        <%= check_box_tag 'interests[]', interest.id -%>
        <%= interest.name -%>
      </li>
  <% end %>
  </ul>
  <%= submit_tag "Search", class: "button-primary", id: "search-btn"%>
<% end %>
</div>

<p><%= @users.count %> result(s) found</p>
<div class="cards-workspaces">
  <% @users.each do |user| %>
   <div class="card">
    <h2><%= link_to user.name, user_path(user)%> (<%= user.age %>)</h2>
    <p>Profession: <%= user.profession %></br>
    Location: <%= user.city %>
  </div>
  <% end %>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
