
<% if current_user == @user %>
  <div class="wrapper-button">
  <%= link_to "Edit Profile", edit_user_path(current_user), class: "button-primary"%>
  <%= link_to "Delete Profile", @user, method: :delete, data: { confirm: 'Are you sure you want to delete your Profile?' }, class: "button-primary"%>
  </div>
<% end %>

<div class="flexbox">
  <div class="information-wrapper">
    <% if @user.photo.present? %>
      <%= cl_image_tag @user.photo.key, id: "profile-photo"%>
    <% else %>
      <%= image_tag "businesswoman-2.png", id: "profile-photo"%>
    <% end %>
    <div class="card-left">
    <div class="personal-information">
      <% if @user.mentor %>
        <p>Mentor</p>
      <% else %>
        <p>Mentee</p>
      <% end %>
      <h2><%= @user.name %></h2>
      <ul class="personal-list">
        <li><%= image_tag "shape-03.png" %><strong><%= @user.age %></strong> years old</li>
        <li><%= image_tag "shape-03.png" %>based in <strong><%= @user.city %></strong></li>
        <li><%= image_tag "shape-03.png" %>working in <strong><%= @user.profession %></strong></li>
      </ul>

     <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
   See CV
  </button>
</div>

  <div class="card-right">
    <div class="question">
      <div class="wrapper-number">
        <%= image_tag "number-01.png" %>
      </div>
      <div class="wrapper-questions">
        <p><strong>Who are you, what defines you and what have you </br>accomplished so far?</strong></br><%= @user.answer1 %></p>
      </div>
    </div>
    <div class="question">
      <div class="wrapper-number">
        <%= image_tag "number-02.png" %>
      </div>
      <div class="wrapper-questions">
        <p><strong>Where do you see yourself in the future?</strong></br><%= @user.answer2 %></p>
      </div>
    </div>
    <div class="question">
      <div class="wrapper-number">
        <%= image_tag "number-03.png" %>
      </div>
      <div class="wrapper-questions">
      <p><strong>What are you expecting from FemNet?</strong></br><%= @user.answer3 %></p>
      </div>
    </div>
  </div>
</div>

<%= image_tag 'shape-01.png', id: "background-shape-right"%>

<div class="card-interests">
<h2>Topics, I am interested in</h2>
  <ul>
    <% if @user.user_interests.present? %>
      <% @user.user_interests.each do |interest| %>
        <li>
          <strong><%= interest.interest.name %></strong>

          <% if interest.score > 4 %>
            <%= image_tag 'score-05.png', class: "score-image"%>
          <% elsif interest.score > 3%>
            <%= image_tag 'score-04.png', class: "score-image"%>
          <% elsif interest.score > 2%>
            <%= image_tag 'score-03.png', class: "score-image"%>
          <% elsif interest.score > 1%>
            <%= image_tag 'score-02.png', class: "score-image"%>
          <% else %>
            <%= image_tag 'score-01.png', class: "score-image"%>
          <% end %>

          <% if current_user == @user %>
            <div class="button-wrapper">
              <%= link_to "Edit", edit_user_interest_path(interest), class: "edit-btn"%>
              <%= link_to "Delete", interest, method: :delete, data: { confirm: 'Are you sure you want to delete this Interest?' }, class: "edit-btn"%>
            </div>
          <% end %>
        </li>
      <% end %>
    <% else %>
      <li><em>no interests added yet</em></li>
    <% end %>
    <% if current_user == @user %>
    <li><%= link_to "Add Interests", new_user_interest_path, class: "button-primary"%></li>
    <% end %>
</ul>
</div>

<div class="mentor-request">
  <% if current_user != @user %>
    <h2>Want to get </br>in touch?</h2>
    <% if current_user.mentor %>
      <%= link_to "My requests", my_requests_requests_path %>
    <% else %>
      <% if @status %>
        <p><%= @status.status %></p>
      <% else %>
         <%= simple_form_for([@user, @request]) do |f| %>
        <div class="form-actions">
        <%= f.submit class: "button-primary"%>
        </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" id="modal-size" role="document">
      <div class="modal-content" id="modal-background">
        <div class="modal-header" id="modal-header">
          <button type="button" class="close" id="close-button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if @user.resume.present?  %>
            <%= cl_image_tag @user.resume.key, format: :png, id: "resume"%>
          <% else %>
            <p>No CV available</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>




