
<% if @user.mentor %>
  <p>Mentor</p>
<% else %>
  <p>Mentee</p>
<% end %>

<h1><%= @user.name %></h1>
<p><%= @user.age %></p>
<p><%= @user.profession %></p>
<p>Question 1</br><strong><%= @user.answer1 %></strong></p>
<p>Question 2</br><strong><%= @user.answer2 %></strong></p>
<p>Question 3</br><strong><%= @user.answer3 %></strong></p>

<% if @user.photo.present? %>
<%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<% if @user.resume.present? %>
<%= cl_image_tag @user.resume.key, height: 300, width: 400, crop: :fill %>
<% end %>

<% if current_user == @user %>
<%= link_to "Edit profile", edit_user_path(current_user)%>
<%= link_to "Delete profile", @user, method: :delete, data: { confirm: 'Are you sure you want to delete your Profile?' }%>
<% end %>

<% if current_user != @user %>
  <% if current_user.mentor %>
    <%= link_to "My requests", my_requests_requests_path %>
  <% else %>
    <% if @status %>
      <%= @status.status %>
    <% else %>
       <%= simple_form_for([@user, @request]) do |f| %>
      <div class="form-actions">
      <%= f.submit class: "btn btn-primary", id:"create-btn"%>
      </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>



