<!-- <h1>Mentorship requests:</h1> -->

  <% if current_user.mentor %>
    <h1>Messages</h1>
    <h3>Connect with your Mentees</h3>
    <% @my_requests.each do |request| %>
      <ul>
        <li><%= request.asker.name %></li>
        <% if request.status === "Pending" %>
          <%= link_to "Accept", accept_request_path(request) %> <%= link_to "Ignore", ignore_request_path(request) %>
        <% else %>
          <p>Status: <%= request.status %></p>
            <% if request.chatroom %>
              <% unless request.chatroom.messages.empty?  %>
                <%= request.chatroom.messages.last.user.name %> : <%= request.chatroom.messages.last.content %> ( <%= request.chatroom.messages.last.created_at.strftime("%m/%d/%Y at %l:%M%p") %> )
                <%= link_to "Keep chatting", request_chatroom_path(request, request.chatroom), class: "btn btn-info" %>
              <% end %>
            <% end %>
        <% end %>
      </ul>
    <% end %>
  <% else %>
    <h1>Messages</h1>
    <h3>Connect with your Mentors</h3>
      <ul> <% current_user.requests_as_asker.where(status: "Accepted").each do |request| %>
        <li><h3><%= request.receiver.name %></h3></li>
        <% if request.chatroom.messages.empty? %>
          <%= link_to "Start chatting", request_chatroom_path(request, request.chatroom), class: "btn btn-info" %>
        <% else %>
            <%= request.chatroom.messages.last.user.name %> : <%= request.chatroom.messages.last.content %> ( <%= request.chatroom.messages.last.created_at.strftime("%m/%d/%Y at %l:%M%p") %> )
          <%= link_to "Keep chatting", request_chatroom_path(request, request.chatroom), class: "btn btn-info" %>
        <% end %>
      <% end %>
    </ul>
  <% end %>


<!-- <%# @my_requests.each do |request| %>
  <ul>
    <li><%#= request.asker.name %></li>
    <%# if request.status === "Pending" %>
      <%#= link_to "Accept", accept_request_path(request) %> <%#= link_to "Ignore", ignore_request_path(request) %>
    <%# elsif request.status === "Accepted" %>

      <%# unless request.chatroom %>
        <%#= simple_form_for [request, Chatroom.new] do |f| %>
          <%#= f.submit "Start chatting", class: "btn btn-primary" %>
        <%# end %>
      <%# else %>
        <%#= link_to "Keep chatting", request_chatroom_path(request, request.chatroom), class: "btn btn-info" %>
      <%# end %>
    <%# end %>
  </ul>
<%# end %> -->
