<!-- <h1>Mentorship requests:</h1> -->

  <% if current_user.mentor %>
    <h1>Your mentees:</h1>
    <% @my_requests.each do |request| %>
      <ul>
        <li><%= request.asker.name %></li>
        <% if request.status === "Pending" %>
        <%= link_to "Accept", accept_request_path(request) %> <%= link_to "Ignore", ignore_request_path(request) %>
      <% else %>
        <%= request.status %>
         <% if request.chatroom %>
        <%= link_to "Keep in Touch", request_chatroom_path(request, request.chatroom), class: "btn btn-info" %>
        <% end %>
      <% end %>
      </ul>
    <% end %>
    <% else %>
    <h1>Your mentors:</h1>
      <ul> <% current_user.requests_as_asker.where(status: "Accepted").each do |request| %>
        <li><%= request.receiver.name %></li>
         <% unless request.chatroom %>
        <%= simple_form_for [request, Chatroom.new] do |f| %>
          <%= f.submit "Start chatting", class: "btn btn-primary" %>
        <% end %>
      <% else %>
        <%= link_to "Keep chatting", request_chatroom_path(request, request.chatroom), class: "btn btn-info" %>
      <% end %>
    <% end %>
        <% end %>
      </ul>
</div>


<!-- <%# @my_requests.each do |request| %>
  <ul>
    <li><%#= request.asker.name %></li>
    <%# if request.status === "Pending" %>
      <%#= link_to "Accept", accept_request_path(request) %> <%#= link_to "Ignore", ignore_request_path(request) %>
    <%# elsif request.status === "Accepted" %>

      <%# unless request.chatroom %>
        <%#= simple_form_for [request, Chatroom.new] do |f| %>
          <%#= f.submit "Start chatting", class: "btn btn-primary" %>
        <%# end %>
      <%# else %>
        <%#= link_to "Keep chatting", request_chatroom_path(request, request.chatroom), class: "btn btn-info" %>
      <%# end %>
    <%# end %>
  </ul>
<%# end %> -->
