<div class="header-wrapper">
<h1>A Mentor is someone </br>who allows you to see </br>the hope inside yourself.</h1>
<p>- OPRAH WINFREY</p>
<%= link_to "Find your Mentor", users_path, class: "button-primary", id:"header-btn"%>
<%= image_tag 'shape-01.png', class: "header-image"%>
</div>


<%= image_tag 'shape-02.png', class: "background-image-top"%>

<div class ="body-wrapper">
    <h2>Why connect with a mentor?</h2> <br>
    <p>Mentoring will teach you what education, books and websites cannot.<br>
    A mentor will help you identify areas for improvement, establish connections, <br> and create opportunities. It’s up to you as to
    how hard you want to <br> push yourself,but the insights you can gain about yourself and your chosen <br> field from a passionate
    and experienced mentor can give you an <br> unprecedented edge over others in developing
    >your career.</p>

<div class ="body-wrapper-one">
  <h2>What are your benefits?</h2>
  <div class = "cards">
    <div class = "card">
      <%= image_tag 'growth.png', class: "card-img"%>
      <h4>Be empowered to grow out of your comfort zone</h4>
      <p>Identify strenghts, increase your confidence and accelerate personal growth</p>
    </div>
    <div class = "card">
      <%= image_tag 'community.png', class: "card-img"%>
      <h4>Have a strong, valuable female network in your back</h4>
      <p>Build valuable relationsships which offer you new perspectives and opportunities</p>
    </div>
    <div class = "card">
      <%= image_tag 'communication.png', class: "card-img"%>
      <h4>Get valuable career advice for your next steps</h4>
      <p>Receive the neccessary skills and expertise to stay focused and suceed in the long-term</p>
    </div>
  </div>
</div>

<%= image_tag 'shape-02.png', class: "background-image"%>

<div class = "body-wrapper-two">

  <div class ="testimonial">
    <p>"I always thought about founding my own start-up,<br>
     however wasn't really sure where to start. <br>
    Getting advice from Cecile on how to bootstrap <br>
    from scratch helped to kick-it off." </p>
    <p>- SINA, 24</p>
  </div>

    <div class= "cards-how-to">
      <h2>How it works</h2>

      <div class="card-how-to">
        <%= image_tag 'number-01.png', class: "header-image"%>
        <div class= "card-how-to-content">
          <h4>Sign up and create your profile</h4>
        </div>
      </div>

      <div class="card-how-to">
        <%= image_tag 'number-02.png', class: "header-image"%>
        <div class= "card-how-to-content">
          <h4>Send a request to your potential new mentor</h4>
        </div>
      </div>

      <div class="card-how-to">
        <%= image_tag 'number-03.png', class: "header-image"%>
        <div class= "card-how-to-content">
          <h4>It’s a match - Your mentor accept your request</h4>
        </div>
      </div>
    </div>
  </div>

<div class ="body-wrapper-three">
  <h2>Our Mentors</h2>
  <div class = "cards">
    <div class = "card">
      <%= image_tag 'businesswoman.png', class: "card-img"%>
      <p>OPRAH WINFREY (44)</p>
      <h4>Sales Manager DACH</h4>
      <p>Munich</p>
    </div>
    <div class = "card">
      <%= image_tag 'businesswoman.png', class: "card-img"%>
      <p>OPRAH WINFREY (53)</p>
      <h4>Business Development</h4>
      <p>Berlin</p>
    </div>
    <div class = "card">
      <%= image_tag 'businesswoman.png', class: "card-img"%>
      <p>OPRAH WINFREY (39)</p>
      <h4>Head of User Experience</h4>
      <p>Munich</p>
    </div>
  </div>
</div>

</div>
